backoff==2.2.1
certifi==2026.7.22
charset-normalizer==3.5.0
cloudpickle==3.1.2
colorama==0.4.6
distro==1.9.0
greenlet==3.5.5
idna==3.18
ipython-genutils==0.2.0
Jinja2==3.1.6
joblib==1.5.3
jupysql==0.11.1
jupysql-plugin==0.4.5
llvmlite==0.49.0
MarkupSafe==3.0.3
narwhals==2.24.0
numba==0.67.0
numpy==2.5.2
packaging==26.3
pandas==3.0.5
ploomber-core==0.2.27
posthog==7.39.1
prettytable==3.18.0
psycopg2-binary==2.9.12
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
PyYAML==6.0.3
RapidFuzz==3.14.5
requests==2.34.2
scikit-learn==1.9.0
scipy==1.18.0
shap==0.52.0
six==1.17.0
slicer==0.0.8
SQLAlchemy==2.0.52
sqlglot==30.17.0
sqlparse==0.6.0
threadpoolctl==3.6.0
tqdm==4.70.0
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
wcwidth==0.8.2
xgboost==3.4.0
